<div>
    <h1>App Socket</h1>
    <form onsubmit="addMessages">
        <input type="text" name="nombre" id="" placeholder="Tu nombre"> 
        <input type="text" placeholder="Tu mensaje...", name="mensaje">
        <input type="submit" value="Enviar">
    </form>
</div>
<div class="caja" id = caja></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>